<template>
  <div class="btn btn-primary btn-sm mr-5">Total {{ rowsTotal }}</div>
  <div class="btn-group">
    <button class="btn btn-sm" @click="onPageChange(1)">First</button>
    <button class="btn btn-sm" @click="onPageChange(currentPage - 1)">«</button>
    <button class="btn btn-sm disabled">{{ currentPage }}</button>
    <button class="btn btn-sm" @click="onPageChange(currentPage + 1)">»</button>
    <button class="btn btn-sm" @click="onPageChange(lastPage)">Last</button>
  </div>
</template>

<script>
export default {
  props: ["rowsTotal", "currentPage", "lastPage"],

  methods: {
    onPageChange(page) {
      this.$emit("onPageChange", page);
    },
  },
};
</script>

<style></style>
