<template>
  <div class="mr-5">
    <input
      type="text"
      placeholder="Search"
      class="input input-sm input-bordered w-full max-w-xs"
      v-model="search"
      @keyup="onEnter"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
    };
  },
  methods: {
    onEnter() {
      this.$emit("onEnter", this.search);
    },
  },
};
</script>

<style></style>
