<template>
  <div>
    <div class="flex items-center justify-center min-h-screen">
      <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg w-26">
        <h3 class="text-2xl font-bold text-center">Login</h3>
        <form @submit.prevent="handleSubmit">
          <div>
            <div class="mt-4">
              <label class="block" for="email">Email</label>
              <input
                v-model="form.email"
                type="text"
                placeholder="Email"
                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
              />
              <div
                class="error"
                v-if="errors.email"
                v-for="email in errors.email"
              >
                {{ email }}
              </div>
            </div>
            <div class="mt-4">
              <label class="block">Password</label>
              <input
                v-model="form.password"
                type="password"
                placeholder="Password"
                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
              />
              <div
                class="error"
                v-if="errors.password"
                v-for="password in errors.password"
              >
                {{ password }}
              </div>
            </div>
            <div class="flex items-baseline justify-between">
              <button
                class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900"
              >
                Login
              </button>
              <router-link
                :to="{ name: 'Register' }"
                class="text-sm text-blue-600 hover:underline"
                >Don't have an account yet?</router-link
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Cookies from "js-cookie";
import axios from "axios";
import { useToast } from "vue-toastification";

export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      errors: {},
    };
  },
  setup() {
    const toast = useToast();

    return { toast };
  },
  methods: {
    handleSubmit() {
      axios
        .post("auth/login", this.form)
        .then((response) => {
          this.toast.success(response.data.message, {
            position: "top-center",
          });
          Cookies.set("token", response.data.data.token);
          Cookies.set("user", JSON.stringify(response.data.data.user));
          window.location.replace("/");
        })
        .catch((error) => {
          this.toast.error("Failed to login!", {
            position: "top-center",
          });
          this.errors = error.response.data.meta.message;
        });
    },
  },
};
</script>

<style></style>
