<template>
  <div>
    <div class="flex items-center justify-center min-h-screen">
      <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg w-26">
        <h3 class="text-2xl text-gray-600 font-bold text-center">
          Register to your account
        </h3>
        <form @submit.prevent="handleSubmit">
          <div>
            <div class="mt-4">
              <label class="block" for="name">Name</label>
              <input
                type="text"
                placeholder="Name"
                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                v-model="form.name"
              />
              <div class="error" v-if="errors.name" v-for="name in errors.name">
                {{ name }}
              </div>
            </div>
            <div class="mt-4">
              <label class="block" for="email">Email</label>
              <input
                type="text"
                placeholder="Email"
                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                v-model="form.email"
              />
              <div
                class="error"
                v-if="errors.email"
                v-for="email in errors.email"
              >
                {{ email }}
              </div>
            </div>
            <div class="mt-4">
              <label class="block">Password</label>
              <input
                type="password"
                placeholder="Password"
                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                v-model="form.password"
              />
              <div
                class="error"
                v-if="errors.password"
                v-for="password in errors.password"
              >
                {{ password }}
              </div>
            </div>
            <div class="mt-4">
              <label class="block">Confirm Password</label>
              <input
                type="password"
                placeholder="Confirm Password"
                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                v-model="form.confirm_password"
              />
              <div
                class="error"
                v-if="errors.confirmPassword"
                v-for="confirmPassword in errors.confirmPassword"
              >
                {{ confirmPassword }}
              </div>
            </div>
            <div class="mt-4">
              <label class="block" for="image">Image</label>
              <input
                type="file"
                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                @change="upload"
              />
              <div
                class="error"
                v-if="errors.image"
                v-for="image in errors.image"
              >
                {{ image }}
              </div>
            </div>
            <div class="flex items-baseline justify-between mt-4">
              <button
                class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900"
              >
                Register
              </button>
              <router-link
                :to="{ name: 'Login' }"
                class="text-sm text-blue-600 hover:underline"
                >Already have an account?</router-link
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { useToast } from "vue-toastification";

export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        password: "",
        confirm_password: "",
        image: null,
      },
      errors: {},
    };
  },
  setup() {
    const toast = useToast();

    return { toast };
  },
  methods: {
    upload(e) {
      let files = e.target.files[0];
      this.form.image = files;
    },

    handleSubmit() {
      const fileData = new FormData();
      fileData.append("name", this.form.name);
      fileData.append("email", this.form.email);
      fileData.append("password", this.form.password);
      fileData.append("confirm_password", this.form.confirm_password);
      fileData.append("image", this.form.image);

      this.$store
        .dispatch("postDataUpload", fileData, "auth/register")
        .then((response) => {
          this.toast.success(response.message, {
            position: "top-center",
          });
          this.$router.push({
            name: "Login",
          });
        })
        .catch((error) => {
          this.toast.error("Failed to register!", {
            position: "top-center",
          });
          this.errors = error.response.data.meta.message;
        });
    },
  },
};
</script>

<style>
.w-26 {
  width: 26rem;
}
.error {
  font-size: 12px;
  color: red;
}
</style>
