<template>
  <div>
    <div class="container mx-auto w-screen mt-3">
      <div class="prose">
        <h1>Category Page</h1>
      </div>
      <div class="flex items-center justify-center" v-if="isLoading">
        <progress class="progress w-full progress-info mt-5"></progress>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-3 text-center">
        <div
          class="card bg-primary text-primary-content mt-3 w-full"
          v-for="category in data"
        >
          <div class="card-body">
            <h2 class="card-title">{{ category.name }}</h2>
            <div class="card-actions justify-end">
              <button class="btn btn-sm">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: [],
      isLoading: false,
    };
  },
  mounted() {
    this.getList();
  },
  methods: {
    getList() {
      this.isLoading = true;
      this.$store.dispatch("getData", ["category"]).then((response) => {
        this.isLoading = false;
        this.data = response.data;
      });
    },
  },
};
</script>

<style></style>
