<template>
  <div>
    <div class="container mx-auto mt-3 px-4 w-screen">
      <div class="prose">
        <router-link
          :to="{ name: 'Post' }"
          class="btn no-underline text-white btn-primary"
        >
          Back
        </router-link>
      </div>
      <div class="flex items-center justify-center" v-if="isLoading">
        <progress class="progress w-full progress-info mt-5"></progress>
      </div>
      <div class="grid grid-rows-3 grid-flow-col gap-4 mt-5 w-full">
        <div class="col-span-2 row-span-3 bg-white w-full rounded-lg">
          <figure>
            <img
              :src="data.image"
              alt="Shoes"
              class="w-full h-96 rounded-t-lg mb-2"
            />
          </figure>
          <div class="container mx-auto px-4">
            <div class="prose mb-2">
              <h1 class="text-gray-600">{{ data.title }}</h1>
            </div>
            <div class="flex mb-2">
              <div class="badge badge-info text-white">
                <i class="fa-solid fa-user"></i>&nbsp; Hakim Asrori
              </div>
              <div class="badge badge-warning text-white ml-3">
                <i class="fa-solid fa-calendar-days"></i>&nbsp;
                {{ dateMoment(data.createdAt) }}
              </div>
              <div id="category" class="badge badge-success text-white ml-3">
                <i class="fa-solid fa-tags"></i>&nbsp;
                {{ getCategoryName(data.categoryId) }}
              </div>
            </div>
            <p class="text-justify">{{ data.body }}</p>
          </div>
        </div>
        <div class="sticky top-4 rounded-lg bg-white w-full">
          <div class="container mx-auto w-full">
            <figure>
              <img
                src="https://avatars.githubusercontent.com/u/77718626?v=4"
                alt="Hakim Asrori"
                class="w-full h-64 rounded-t-lg mb-2"
              />
            </figure>
            <div class="mb-5 text-center">
              <div class="prose">
                <h3 class="text-gray-600">Hakim Asrori</h3>
              </div>
              <p>hakimasrori24@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  props: ["slug"],
  data() {
    return {
      data: [],
      category: [],
      isLoading: false,
    };
  },
  mounted() {
    this.getPost();
    this.getCategory();
  },
  methods: {
    dateMoment(date) {
      let dateTime = moment(date).format("d MMMM YYYY");
      return dateTime;
    },
    getPost() {
      this.isLoading = true;
      this.$store
        .dispatch("showData", ["post/" + this.slug])
        .then((response) => {
          this.data = response.data;
          this.isLoading = false;
        });
    },
    getCategory() {
      this.$store.dispatch("getData", ["category"]).then((response) => {
        this.category = response.data;
      });
    },
    getCategoryName(categoryId) {
      let name = "";
      this.category.forEach((item) => {
        if (categoryId == item.id) {
          name = item.name;
        }
      });
      return name;
    },
  },
};
</script>

<style></style>
