<template>
  <div>
    <div class="container mx-auto mt-3 px-4 w-screen">
      <div class="flex justify-between items-center">
        <div class="prose">
          <h1>Post Page</h1>
        </div>
        <router-link to="/post/add" class="btn btn-sm btn-primary" v-if="token"
          >Add</router-link
        >
        <div class="" v-else>
          <Search @onEnter="onEnter($event)"></Search>
          <Paginate
            @onPageChange="onPageChange($event)"
            :currentPage="currentPage"
            :rowsTotal="rowsTotal"
            :lastPage="lastPage"
          ></Paginate>
        </div>
      </div>
      <Progress :isLoading="isLoading"></Progress>
      <div class="grid grid-cols-4 gap-4 mt-5 text-center">
        <div
          class="card card-compact w-full bg-white shadow-xl"
          v-for="post in data"
        >
          <router-link :to="postDetail(post.slug)">
            <figure>
              <img :src="post.image" alt="Shoes" class="h-48 w-full" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">
                {{ post.title }}
              </h2>
              <p>
                {{ post.excerpt }}
              </p>
              <div class="card-actions justify-between items-center">
                <div class="badge badge-accent">
                  <i class="fa-solid fa-tags"></i>&nbsp;
                  {{ getCategoryName(post.categoryId) }}
                </div>
                <router-link
                  :to="postDetail(post.slug)"
                  class="btn btn-sm btn-primary"
                  >Next</router-link
                >
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Cookies from "js-cookie";
import Search from "../components/pagination/Search.vue";
import Paginate from "../components/pagination/Paginate.vue";
import Progress from "../components/Progress.vue";

export default {
  components: {
    Search,
    Paginate,
    Progress,
  },
  data() {
    return {
      data: [],
      category: [],
      isLoading: false,
      rowsTotal: null,
      currentPage: null,
      lastPage: null,
      page: null,
      search: "",
      token: Cookies.get("token") ? true : false,
    };
  },
  mounted() {
    this.getList();
    this.getCategory();
  },
  methods: {
    getList() {
      this.isLoading = true;
      const params = [`page=${this.page}`, `title=${this.search}`].join("&");
      this.$store.dispatch("getData", ["post", params]).then((response) => {
        this.data = response.data;
        this.currentPage = response.meta.currentPage;
        this.rowsTotal = response.meta.total;
        this.lastPage = response.meta.lastPage;
        this.isLoading = false;
      });
    },
    getCategory() {
      this.$store.dispatch("getData", ["category"]).then((response) => {
        this.category = response.data;
      });
    },
    getCategoryName(categoryId) {
      let name = "";
      this.category.forEach((item) => {
        if (categoryId == item.id) {
          name = item.name;
        }
      });
      return name;
    },
    onEnter(event) {
      this.search = event;
      this.getList();
    },
    onPageChange(page) {
      this.page = page;
      this.getList();
    },
    postDetail(slug) {
      return "/post/" + slug;
    },
  },
};
</script>

<style>
.drawer .drawer-content {
  margin-right: 25rem;
}
</style>
