<template>
  <div>
    <div class="container mx-auto px-4 mt-3">
      <div class="flex justify-between items-center">
        <div class="prose lg:prose-h1">
          <h1>User Page</h1>
        </div>
        <label
          for="modal-add"
          @click="showModalAdd"
          class="btn btn-sm btn-primary"
          v-if="token"
          >Add</label
        >
      </div>
      <Progress :isLoading="isLoading"></Progress>

      <div class="overflow-x-auto mt-5" v-if="token">
        <table class="table w-full">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(user, index) in data" :key="index">
              <th>
                {{ index + 1 }}
              </th>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>
                <label
                  for="modal-edit"
                  class="btn btn-sm btn-warning text-white"
                  @click="showModalEdit(user.id)"
                >
                  Edit
                </label>
                <button
                  class="btn btn-sm btn-error text-white ml-3"
                  @click="removeUser(user.id)"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="flex justify-end mt-5">
          <Paginate
            @onPageChange="onPageChange($event)"
            :currentPage="currentPage"
            :rowsTotal="rowsTotal"
            :lastPage="lastPage"
          ></Paginate>
        </div>

        <ModalAddUse
        
          :form="form"
          :errors="errors"
          :isOpen="isOpen"
          @handleSubmitAdd="handleSubmitAdd($event)"
        ></ModalAddUse>
        <ModalEditUser
          :form="edit"
          :errors="errors"
          :isOpen="isOpen"
          @handleSubmitEdit="handleSubmitEdit($event)"
        ></ModalEditUser>
      </div>

      <div class="grid grid-cols-4 gap-4 mt-5 text-center" v-else>
        <div class="card w-60 shadow-xl bg-white mt-5" v-for="user in data">
          <figure class="px-4 pt-4">
            <img :src="user.image" :alt="user.name" class="rounded-xl h-36" />
          </figure>
          <div class="card-body items-center text-center text-gray-600">
            <h2 class="card-title">{{ user.name }}</h2>
            <p>{{ user.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import action from "../store/modules/user";

export default action;
</script>

<style></style>
