<template>
  <div>
    <footer
      class="footer footer-center p-4 bg-base-300 text-base-content mt-10 fixed-bottom"
    >
      <div>
        <p>Copyright &copy; 2022 - Created by Hakim Asrori</p>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentYear: new Date().getFullYear(),
    };
  },
};
</script>

<style></style>
