<template>
  <div class="flex items-center justify-center" v-if="isLoading">
    <progress class="progress w-full progress-info mt-5"></progress>
  </div>
</template>

<script>
export default {
  props: ["isLoading"],
  data() {
    return {};
  },
};
</script>

<style></style>
