<template>
  <div>
    <Navbar></Navbar>
    <router-view></router-view>
    <Footer></Footer>
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import Footer from "./components/Footer.vue";

import Cookie from "js-cookie";
import { AbilityBuilder, Ability, defineAbility } from "@casl/ability";
import { permittedFieldsOf } from "@casl/ability/extra";

import checkLog from "./store/services/abilities";

export default {
  components: {
    Navbar,
    Footer,
  },
  data() {
    return {
      users: [],
      error: {},
    };
  },
  watch: {
    "$route.param.search": {
      handler: function (search) {
        let url = new URL(location.href).pathname;
        this.$store
          .dispatch("postData", ["/auth/check", {}])
          .then((response) => {
            this.users = JSON.parse(Cookie.get("user"));
          })
          .catch((error) => {
            this.error = error.response.data;
            Cookie.remove("token");
            Cookie.remove("user");
          });
        // if (Cookie.get("token") == undefined) {
        //   if (url != "/login") {
        //     window.location.replace("/login");
        //   }
        // }
        // this.users = JSON.parse(Cookie.get("user"));
      },
      deep: true,
      immediate: true,
    },
  },
};
</script>

<style></style>
