<template>
  <input type="checkbox" id="modal-add" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <div class="prose">
        <h2 class="font-bold">User Information</h2>
      </div>
      <form @submit.prevent="handleSubmitAdd">
        <div class="py-2">
          <div class="mb-2">
            <label class="block" for="name">Name</label>
            <input
              type="text"
              placeholder="Name"
              class="w-full px-4 py-2 text-gray-800 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
              v-model="form.name"
              ref="inputValue"
            />
            <div class="error" v-if="errors.name" v-for="name in errors.name">
              {{ name }}
            </div>
          </div>
          <div class="mb-2">
            <label class="block" for="email">Email</label>
            <input
              type="email"
              placeholder="Email"
              class="w-full px-4 py-2 mt-2 text-gray-800 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
              v-model="form.email"
              ref="inputValue"
            />
            <div
              class="error"
              v-if="errors.email"
              v-for="email in errors.email"
            >
              {{ email }}
            </div>
          </div>
          <div class="mb-2">
            <label class="block">Password</label>
            <input
              type="password"
              placeholder="Password"
              class="w-full px-4 py-2 mt-2 text-gray-800 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
              v-model="form.password"
              ref="inputValue"
            />
            <div
              class="error"
              v-if="errors.password"
              v-for="password in errors.password"
            >
              {{ password }}
            </div>
          </div>
          <div class="mb-2">
            <label class="block">Confirm Password</label>
            <input
              type="password"
              placeholder="Confirm Password"
              class="w-full px-4 py-2 mt-2 border text-gray-800 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
              v-model="form.confirm_password"
              ref="inputValue"
            />
            <div
              class="error"
              v-if="errors.confirmPassword"
              v-for="confirmPassword in errors.confirmPassword"
            >
              {{ confirmPassword }}
            </div>
          </div>
          <div class="">
            <label class="block" for="image">Image</label>
            <input
              type="file"
              class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
              @change="upload"
            />
            <div
              class="error"
              v-if="errors.image"
              v-for="image in errors.image"
            >
              {{ image }}
            </div>
          </div>
        </div>
        <div class="modal-action">
          <label for="modal-add" class="btn btn-sm btn-error text-white"
            >Cancel</label
          >
          <button class="btn btn-sm btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isOpen", "form", "errors"],
  mounted() {
    this.showModal();
  },
  methods: {
    showModal() {
      document.getElementById("modal-add").checked = this.isOpen;
    },
    upload(e) {
      let files = e.target.files[0];
      this.form.image = files;
    },
    handleSubmitAdd() {
      this.$emit("handleSubmitAdd", this.form);
    },
  },
};
</script>

<style></style>
