<template>
  <input type="checkbox" id="modal-edit" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <div class="prose">
        <h2 class="font-bold">Edit User</h2>
      </div>
      <form @submit.prevent="handleSubmitEdit">
        <div class="py-2">
          <div class="mb-2">
            <label class="block" for="name">Name</label>
            <input
              type="text"
              placeholder="Name"
              class="w-full px-4 py-2 mt-2 text-gray-800 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
              v-model="form.name"
              ref="inputValue"
            />
            <div class="error" v-if="errors.name" v-for="name in errors.name">
              {{ name }}
            </div>
          </div>
          <div class="mb-2">
            <label class="block" for="email">Email</label>
            <input
              type="email"
              placeholder="Email"
              class="w-full px-4 text-gray-800 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
              v-model="form.email"
              ref="inputValue"
            />
            <div
              class="error"
              v-if="errors.email"
              v-for="email in errors.email"
            >
              {{ email }}
            </div>
          </div>
        </div>
        <div class="modal-action">
          <label for="modal-edit" class="btn btn-sm btn-error text-white"
            >Cancel</label
          >
          <button class="btn btn-sm btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isOpen", "form", "errors"],
  mounted() {
    this.showModal();
  },
  methods: {
    handleSubmitEdit() {
      this.$emit("handleSubmitEdit", this.form);
    },
    showModal() {
      document.getElementById("modal-edit").checked = this.isOpen;
    },
  },
};
</script>

<style></style>
