<template>
  <div class="grid grid-cols-4 gap-4 mt-5 text-center">
    <div class="card w-60 shadow-xl bg-white mt-5" v-for="user in data">
      <figure class="px-4 pt-4">
        <img :src="user.image" :alt="user.name" class="rounded-xl h-36" />
      </figure>
      <div class="card-body items-center text-center text-gray-600">
        <h2 class="card-title">{{ user.name }}</h2>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["data"],
};
</script>

<style></style>
